:root {
  --light: #bec1c4;
  --number-buttons: #2a4673;
  --operator-buttons: #9357b3;
  --dark: #201426;
}
* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}
.App {
  appearance: none;
  max-width: 600px;
  background-color: var(--dark);
  border-radius: 16px;
  margin-top: 10%;
  margin-left: 10%;
}

.button-pad {
  padding: 5%;
  background-color: var(--number-buttons);
  color: #eee;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: #201426;
  flex: 1 1 33.3%;
  box-shadow: #201426;
  border: 1fr;
}
.button-pad-operator {
  width: 20%;
  padding: 5%;
  background-color: var(--operator-buttons);
  border-radius: 40px;
  color: #eee;
  cursor: pointer;
}
.numpad {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.button-bottom {
  padding: 5%;
  background-color: var(--number-buttons);
  color: #eee;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: #201426;
  width: 33.3%;
  box-shadow: #201426;
  border: 1fr;
}
.calculator-display {
  width: 100%;
  height: 20vh;
  border: 1px solid #eee;
  border-radius: 15px;
  color: #eee;
}
